@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}