@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.btn-outline-ash{
    outline: 1px solid #6C757D;
}
.btn-ash, .btn-outline-ash:hover{
    background-color: #4b0d92da;
    color: #fff;
}
hr{
    width: 70%;
    margin: auto;
}
#errormessage{
    display: none;
}
#after-promo-text{
    font-size: 55%;
    font-weight: 400;
    position: relative;
    top: -3px;
    display: none;
}